<table class="population-table">

    <th>Year</th>
    <th>Population</th>
    <th>Nation</th>
    <th>P_growth</th>

    <tr *ngFor="let nation of nationPopulationData">
        <td>{{nation.Year}}</td>
        <td>{{nation.Population}}</td>
        <td>{{nation.Nation}}</td>
        <td>{{nation.P_growth.toFixed(2)}}</td>
    </tr>

</table>

<app-button 
class="ascending-button" 
(buttonClick)="sortTableByYear(isAscending  = !isAscending)">

    <span>change order</span>

    <img 
    class="arrow-icon" 
    [src]="isAscending? '../../assets/arrow-up.svg' : '../../assets/arrow-down.svg'" 
    alt="arrow">

</app-button>
