$main-color:#5b81f7;
$second-color: #090f0f;

.population-table{

    border-collapse: collapse;
    width: 70vw;
    height: 70vh;
    background-color: white;

    th{
        background-color: $main-color;
        color: white;
        font-weight: 400;
        height: 0px;

    }
    th, td{
        border: 1px solid #91a0cc;
        padding: 8px;
        user-select: none;
        text-align:center;
    }
    td{
        color: $second-color;
        font-weight: 200;

    }

    tr:hover{
        background-color: #ccd5f0;
    }
}