$main-color:#4797ce;
$second-color: #090f0f;

.population-table{

    border-collapse: collapse;
    width: 70vw;
    height: fit-content;

    th{
        background-color: $main-color;
        color: white;
        font-weight: 200;
    }
    th, td{
        border: 1px solid #ddd;
        border-left: none;
        border-right: none;
        padding: 8px;
        user-select: none;
        text-align:center;
    }
    td{
        color: $second-color;
        font-weight: 200;

    }

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;

    tr:hover{
        background-color: #ddd;
    }
}
.ascending-button{
    span{
        font-size: larger;
        padding-right: 5px;
    }
    .arrow-icon{
        width: 1.5vw;
        filter: invert(100%) sepia(7%) saturate(26%) hue-rotate(205deg) brightness(106%) contrast(108%);;
    }
}
