<table class="population-table">

    <th>Year</th>
    <th
    *ngIf="isPhone">Population</th>
    <th>Nation</th>
    <th>P_growth</th>

    <tr *ngFor="let nation of nationPopulationData">
        <td>{{nation.Year}}</td>

        <td *ngIf="isPhone"
        [ngStyle]="{'background-color': getMaxPopulationValue() === nation.Population ? '#ff647c':'none'}"
        >{{nation.Population}}</td>
        <td>{{nation.Nation}}</td>
        <td>{{nation.P_growth.toFixed(2)}}%</td>
    </tr>

</table>
