<table class="population-table">

    <th>Year</th>
    <th>Population</th>
    <th>Nation</th>
    <th>P_growth</th>

    <tr *ngFor="let nation of nationPopulationData">
        <td>{{nation.Year}}</td>
        <td>{{nation.Population}}</td>
        <td>{{nation.Nation}}</td>
        <td>{{nation.P_growth.toFixed(2)}}</td>
    </tr>

</table>

<button (click)="sortTableByYear(isAscending  = !isAscending)"> change order</button>
<app-button class="ascending-button">
    <span>change order</span>
    <img class="arrow-icon" src="../../assets/arrow-down.svg" alt="arrow">
</app-button>
