.ascending-button{
    span{
        font-size: larger;
        padding-right: 5px;
    }
    .arrow-icon{
        width: 1.5vw;
        filter: invert(100%) sepia(7%) saturate(26%) hue-rotate(205deg) brightness(106%) contrast(108%);;
    }
}
