*{
    transition: 0.3s;
}

.button{

    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: none;
    background-color: #5b81f7;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.button:hover{
    background-color: #4b6fd9;
}
.button:active{
    background-color: #4161c3;
}